<header class="card text-red bg-warning border-danger" style="max-height: 300px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="../assets/img/BurgerFamily.jpg" class="card-img responsive-img" alt="Picture of Bob's Burger's family having fun and ready to make you a burger"
        style="max-height: 250px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title" id="header">Eat Da Burger</h1>
        <h3 class="card-text" id="header-text">A tribute to Bob's Burgers</h3>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid bg-warning">
    <section class="row no-gutters">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div class="card text-white text-center bg-dark border-dark p-1 m-4" style="height: 18rem;">

          <h2 class="card-title chalkboard">Burger of the Day</h2>
          <button class="btn btn-primary btn-lg btn-block" title="Generate a Random Burger" onClick="getBurger()"> <i class="fa fa-sync" aria-hidden="true"></i>
            Update!</button>
          <form class="random-form">
            <div class="form-group">
              <input class="form-control" title="Random Burger" type="text" aria-describedby="Random Burger"
                id="randomBurgerOutput" readonly="" name="burger_name" />
            </div>
            <h3 class="card-text chalkboard">Comes with Fries</h3>
            <h4 class="card-text chalkboard">$5.95</h4>
            <button type="button" class="btn btn-success btn-lg btn-block" type="submit" title="Order Random Burger">
              <i class="fa fa-check-square-o" aria-hidden="true"></i> Order this Burger</i>
            </button>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
      </div>
    </section>
  </div>
  <article class="container-fluid bg-warning">
    {{!-- Alert if burger field is empty --}}
    <div class="alert alert-danger d-none" role="alert">
      <strong>Hey! You gotta Update the Burger of the Day or Type a Burger Order for this to work.</strong>
    </div>
    {{!-- End Alert --}}
    <section class="row no-gutters">
      <div class="col-lg-4">
        <div class="card text-white bg-secondary border-dark m-1">
          <h2 class="card-title text-center">Type Your Burger Order</h2>
          <div class="card-body">
            <form class="create-form">
              <div class="form-group">
                <input class="form-control form-control-lg" type="text" id="br" placeholder="Example: Beyond Meat Dream"
                  name="burger_name"></input>
              </div>
              <button class="btn btn-success btn-lg btn-block" title="Submit Burger Order" type="submit"> <i
                  class="fa fa-check-square-o" aria-hidden="true"></i> Place Your
                Order!</button>
            </form>

          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-dark border-dark m-1">
          <h2 class="card-header text-center text-white"><i class='fas fa-hamburger'></i> Burgers Ready to Be
            Devoured</h2>
          <div class="card-body">
            <ul role="list" class="list-group list-group-flush" area-labelledby="list heading">
              {{!-- devoured is the default state of "ready to be devoured" --}}
              {{#each burgers}}
              {{#unless devoured}}
              {{> burgers/burger-block devoured=true}}
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-white bg-dark border-dark m-1">
          <h2 class="card-header text-center text-white">mmm...Devoured Burgers <i class='fas fa-hamburger'></i></h2>
          <div class="card-body">
            <ul role="list" class="list-group list-group-flush" area-labelledby="list heading">
              {{#each burgers}}
              {{#if devoured}}
              {{> burgers/burger-block devoured=false}}
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </section>
  </article>
</main>
<footer class="card text-red bg-warning border-danger" style="max-height: 300px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body">
        <h1 class="card-title" id="footer">Enjoy!</h1>
        <h4 class="card-text" id="header-text">View source code on github:
          <!-- Octocat in the Corner -->
          <a
            class="github-corner"
            href="https://github.com/jessicablank/eat-da-burger"
            target="_blank"
          >
            <svg
              width="80"
              height="80"
              viewBox="0 0 250 250"
              data-toggle="tooltip"
              data-placement="bottom"
              title="Visit Me on GitHub"
            >
              <path d="M0 0h250v250" />
              <path
                class="octo-arm"
                d="M127.4 110c-14.6-9.2-9.4-19.5-9.4-19.5 3-7 1.5-11 1.5-11-1-6.2 3-2 3-2 4 4.7 2 11 2 11-2.2 10.4 5 14.8 9 16.2"
                fill="currentColor"
                style="transform-origin: 130px 110px"
              />
              <path
                class="octo-body"
                d="M113.2 114.3s3.6 1.6 4.7.6l15-13.7c3-2.4 6-3 8.2-2.7-8-11.2-14-25 3-41 4.7-4.4 10.6-6.4 16.2-6.4.6-1.6 3.6-7.3 11.8-10.7 0 0 4.5 2.7 6.8 16.5 4.3 2.7 8.3 6 12 9.8 3.3 3.5 6.7 8 8.6 12.3 14 3 16.8 8 16.8 8-3.4 8-9.4 11-11.4 11 0 5.8-2.3 11-7.5 15.5-16.4 16-30 9-40 .2 0 3-1 7-5.2 11l-13.3 11c-1 1 .5 5.3.8 5z"
                fill="currentColor"
              />
            </svg>
          </a>
          <a
            href="https://github.com/jessicablank/eat-da-burger" aria-label="link to source code on github"
            target="_blank" rel="noopener"> https://github.com/jessicablank/eat-da-burger</a> </h4>
        <h5 class="card-text" id="header-text">Learn more about Bob's Burgers:<a
            href="https://www.fox.com/bobs-burgers/" aria-label="link to source Bob's Burgers info on fox.com"
            target="_blank" rel="noopener"> https://www.fox.com/bobs-burgers</a> </h5>
      </div>
    </div>
  </div>
</footer>