<header class="card text-red bg-warning border-danger" style="max-height: 300px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body">
        <h1 class="card-title" id="header">Eat Da Burger</h1>
        <h3 class="card-text" id="header-text">A tribute to Bob's Burgers</h3>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="container-fluid">
    <section class="row no-gutters">
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top responsive-img" src="../assets/img/BobsBurgersList1.PNG" alt="burger ideas">
          <div class="card-body">
            <h2 class="card-title text-center">Burgers Ready to Be Devoured</h2>
            <ul role="list" class="list-group list-group-flush" area-labelledby="list heading">
              {{!-- devoured is the default state of "ready to be devoured" --}}
              {{#each burgers}}
              {{#unless devoured}}
              <li class="list-group-item">{{> burgers/burger-block devoured=true}}</li>
              {{/unless}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top responsive-img" src="../assets/img/BurgerFamily.jpg" alt="Bob's burgers family">
          <div class="card-body">
            <form class="create-form">
              <h2 class="card-title text-center">Please Type Your Burger Order:</h2>
              <div class="form-group">
                <input class="form-control form-control-lg" type="text" id="br" placeholder="Example: Beyond Meat Dream"
                  name="burger_name"></input>
              </div>
              <button class="btn btn-success btn-lg btn-block" title="Submit Burger Order" type="submit">Place Your
                Order!</button>
            </form>

            {{!-- Alert if burger field is empty --}}
            <div class="alert alert-danger d-none" role="alert">
              <strong>Hey! You Didn't Order a Burger! Please Try Again.</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {{!-- End Alert --}}
            <br>
            {{!-- <form class="create-form">
              <h2 class="card-title text-center">Need Inspiration? Generate a Burger:</h2>
              <div class="form-group">
                <input class="form-control form-control-lg" type="text" id="randomBurger-output" placeholder="Random Burger"></input>
              </div>
              <button class="btn btn-primary btn-lg btn-block" title="Generate a Burger" id="randomBurger-btn" type="submit">Generate a
                Burger!</button>
            </form> --}}
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <img class="card-img-top responsive-img" src="../assets/img/BobsBurgersList2.PNG" alt="burger ideas">
          <div class="card-body">
            <h2 class="card-title text-center">mmm...Devoured Burgers</h2>
            <ul role="list" class="list-group list-group-flush" area-labelledby="list heading">
              {{#each burgers}}
              {{#if devoured}}
              <li class="list-group-item">{{> burgers/burger-block devoured=false}}</li>
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>

    </section>
  </div>
</main>
<footer class="card text-red bg-warning border-danger" style="max-height: 300px;">
  <div class="row no-gutters">
    <div class="col-md-12">
      <div class="card-body">
        <h1 class="card-title" id="footer">Enjoy!</h1>
        <h4 class="card-text" id="header-text">View source code on github:<a
            href="https://github.com/jessicablank/eat-da-burger" aria-label="link to source code on github"
            target="_blank" rel="noopener"> https://github.com/jessicablank/eat-da-burger</a> </h4>
        <h5 class="card-text" id="header-text">Learn more about Bob's Burgers:<a
            href="https://www.fox.com/bobs-burgers/" aria-label="link to source Bob's Burgers info on fox.com"
            target="_blank" rel="noopener"> https://www.fox.com/bobs-burgers/</a> </h5>
      </div>
    </div>
  </div>
</footer>