body {
  padding: 0;
  margin: 0;
  background-color: gray;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: purple;
  color: white;
  height: 100px;
  padding: 10px;
}

ul {
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
  
  .label {
    font-weight: bold;
  }

  .container {
    width: 1024px;
    margin: 0 auto;
  }

  #ready,
  #add,
  #devoured{
    float: left;
    width: 33%;
  }

  #add{
    background-color: lightslategray;;
  }

  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  